/* ___Global Reset___ */
/* CSS Global Reset courtesy of
   http://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ___Singapore Stylesheet___ */

/* --Common Styles-- */

/* Primary Fonts */

html {
	font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	background-color: whitesmoke;
	color: #222;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 300;
}
h2 {
	font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Header */
header {
  width: 100%;
  background-color: white;
}
header ul {
  display: flex;
	flex-direction: column;
}
@media screen and (min-width: 60em) {
	header ul {
		margin: 0 5em 0 5em;
	  display: flex;
		flex-direction: row;
	}
}
header ul li {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
header ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
	font-size: 2em;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding 5px;
  color: #222;
	transition: color 0.1s;
  background-color:  white;
	transition: background-color 0.1s;
	padding: 0.6em 0 0.6em 0;
	border-bottom: 1px solid lightgrey;
}
@media screen and (min-width: 60em) {
	header ul li a {
		padding: 0.5em 0 0.5em 0;
		border: 0;
	}
}
header ul li a.header-nav-selected {
	background-color: #DDD;
}
header ul li a:hover, header ul li a:focus {
  color: White;
  background-color: #db0000;
}
header ul li a:active {
	color: White;
  background-color: #ff4d4d;
}
header ul li a:hover img, header ul li a:focus img {
	/* Hides logo image to reveal background image with white text */
  opacity: 0;
}
#header-logo-img {
	height: 1.5em;
}

#header-logo a {
	/* Makeshift solution for making the logo white while hovering, without using javascript */
	background-image: url('https://lennelov.github.io/singapore/images/singapore-logo-white.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 6.4em;
}


/* General Main Objects */

main {
	box-sizing: border-box;
	margin: 1.5rem 2% 1% 2%;
	padding: 2% 2% 2% 2%;
	background-color: white;
}

main.textmain {
	padding: 2% 10% 2% 10%;
}

main.textmain h2 {
	margin: 1em 0 0.3em 0;
}
main.textmain p {
	margin-bottom: 0.6em;
}

.main-top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid darkgrey;
	padding: 0 0 1.2em 0;
	margin: 0 0 2rem 0;
}
@media screen and (min-width: 45em) {
	.main-top {
		flex-direction: row;
	}
}
/* .main-top {
	width: 100%;
	border-bottom: 1px solid darkgrey;
	padding: 0 0 1.2em 0;
	margin: 0 0 2rem 0;
}
@media screen and (min-width: 45em) {
	.main-top {
		display: flex;
		align-items: center;
		justify-content: center;
	}
} */

.main-top h1 {
	box-sizing: border-box;
	text-align: center;
	width: 100%;
}

@media screen and (min-width: 45em) {
	.main-top h1 {
		text-align: right;
		width: 50%;
		padding-right: 1rem;
	}
}

.main-top p {
	box-sizing: border-box;
	text-align: center;
  width: 100%;
	margin-top: 0.7em;
}

@media screen and (min-width: 45em) {
	.main-top p {
		text-align: left;
		width: 50%;
		margin-top: 0.6em;
		padding-right: 20%;
	}
}

/* General Table */

table {
	box-sizing: border-box;
}

tr:nth-child(even) {
	background-color: #e6e6e6;
}

th {
	box-sizing: border-box;
	padding-bottom: 0.5em;
	font-size: 1.25em;
	font-weight: bold;
}

td {
	box-sizing: border-box;
	padding: 0.5em 0 0.5em 1em;
	vertical-align: middle;
}

/* Footer */

footer {
	display: flex;
	justify-content: flex-end;
	border-top: 1px solid lightgrey;
	padding: 0.8em;
	margin: 2em;
}

footer p {
	color: darkgrey;
}

footer small {
	font-size: 0.8rem;
}

/* --Index Page-- */

/* Gallery */

.trigger {
  display: none;
}

.gallery {
  padding-bottom: 3.5em;
	margin-bottom: 1em;
  border-bottom: 1px solid darkgrey;
}

.gallery, .gallery-container {
  position: relative;
  height: 30em;
}

.gallery-container{
  max-width: 100%;
  position: relative;
  margin: auto;
	transition: opacity .5s easy-in-out;
}

.gallery-item {
	/* Opacity: 0 hides all items except selected item. z-index: 0 is used to allow for interaction with the top-most (selected) item. */
  background-color: black;
  width: 100%;
  position: absolute;
  height: 100%;
	opacity: 0;
	z-index: 0;
  transition: opacity .7s;
}

.gallery img {
  width: 100%;
	height: 100%;
  object-fit: cover;
}

#img1 {
	object-position: 60% 0%;
}

#img2 {
	object-position: 50% 40%;
}

.gallery-item figure {
  height: 100%;
  position: relative;
  margin: 0;
}

.trigger:checked + .gallery-item {
  opacity: 1;
	z-index: 1;
}

.gallery-nav__item {
  display: inline-block;
	transition: opacity .5s easy-in-out;
}

.gallery-nav__label {
  font-size: 0.8em;
  background-color: #db0000;
  display: block;
  height: 2em;
  line-height: 2em;
  width: 2em;
  text-align: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: background-color .25s, color .25s ease-in-out;
}

input[type="radio"]:checked~label{ background-color: grey}

.gallery-nav__label:hover,
.gallery-nav__label:focus {
  background-color: #ff3333;
}

.gallery-nav__label:active {
	background-color: #ff8d8d;
}

.gallery-nav {
  width: 100%;
  text-align: center;
  margin: 1em 0;
}

.gallery-infobox {
	overflow-wrap: normal;
	box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align:left;
  line-height: auto;
  padding: 1em 2em 1.5em 2em;
}
@media screen and (min-width: 35em) {
	.gallery-infobox {
	  right: 0;
		left: auto;
	  width: 30em;
	}
}
@media screen and (min-width: 40em) {
	.gallery-infobox {
	  left: 15%
	}
}

.gallery-infobox h2 {
  font-weight: bold;
  color: white;
  font-size: 1.5em;
	margin-bottom: 0.3em;
}

.gallery-infobox p {
  color: white;
  font-size: 1em;
}

.gallery-infobox a {
  color: #ff3333;
  text-decoration: none;
}

.gallery-infobox a:hover {
  color: #ff6666;
}

.gallery-infobox a:active {
  color: #ffb3b3;
}

/* Instagram feed */
/* https://stackoverflow.com/questions/166160/how-can-i-scale-the-content-of-an-iframe */

#instagram_feed {
    margin: 2em 2em 0 2em;
}

.feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	align-items: stretch;
}

.feed-item {
	max-width: 30em;
  flex: 1 1 auto;
	margin: 0 auto 0 auto;
}

/* -- Sights Page -- */

/* Sights Grid */

.sights-grid {
	display: grid;
	grid-auto-rows: 20em;
	grid-template-columns: 1fr;
	grid-auto-flow: row;
	grid-gap: 1em 2%;
}

@media screen and (min-width: 45em) {
	.sights-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.sights-link {
	color: white;
  text-decoration: none;
}

.sights-item {
	height: 100%;
	width: 100%;
}

.sights-infobox a {
  color: tomato;
  text-decoration: none;
}

.sights-item img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.sights-item img:hover {
	opacity: 0.6;
	transition: opacity 0.2s ease-out;
}

.sights-infobox {
	position: relative;
	bottom: 3.1em;
  width: 100%;
	height: 1em;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 0 0;
  text-align:left;
  line-height: auto;
	padding: 1em 0 1em 0;
}

.sights-infobox h2 {
  color: white;
  font-size: 1em;
	font-weight: bold;
	text-indent: 2em;
}

/* -- General Sight Page Styles -- */

.sight-content {
	width: 50em;
	max-width: 100%;
	margin: auto;
}

.sight-content-text {
	width: 35em;
	max-width: 100%;
	margin: auto;
}

.sight-main-figure {
	width: 100%;
}

.sight-main-img {
	object-fit: cover;
	width: 100%;
}


/* -- Get There Page -- */

.skyscanner-widget {
	max-width: 40em;
	margin: auto;
}


/* -- About Singapore Page -- */

#gardens-banner {
	width: 100%;
	margin-bottom: 3em;
}

.text_and_aside {
	width: 60em;
	max-width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;

}
@media screen and (min-width: 50em) {
	.text_and_aside {
		display: grid;
		grid:
			[content-start] "left right"
			/[left] 3fr [right] 2fr;
		grid-column-gap: 5%;
	}
}

.text_and_aside .text-body {
	display: contents;
	text-align: justify;
}
@media screen and (min-width: 50em) {
	.text_and_aside .text-body {
		display: flex;
		flex-direction: column;
		grid-area: left;
	}
}

.text_and_aside aside {
	display: contents;
}
@media screen and (min-width: 50em) {
	.text_and_aside aside {
		display: flex;
		flex-direction: column;
		grid-area: right;
	}
}

@media screen and (min-width: 50em) {
	.text_and_aside aside figure.image_figure {
		flex: 1 1 auto;
	}
}

@media screen and (min-width: 50em) {
	.text_and_aside aside figure img {
		/* Maintains pleasant composition when page is resized */
		height: 100%;
		object-fit: cover;
	}
}

#about_sg-aside1 {
	order: 0
}
#about_sg-section1 {
	order: 1
}
#about_sg-aside2 {
	order: 2
}
#about_sg-section2 {
	order: 3
}
#about_sg-section3 {
	order: 4
}
#about_sg-aside3 {
	order: 5
}
@media screen and (min-width: 50em) {
	#about_sg-aside3 img {
		object-position: 30% 50%;
	}
}
#about_sg-section4 {
	order: 6
}

.text_and_aside h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 0.3em;
}

.text_and_aside section {
	margin-bottom: 2em;
}

.text_and_aside aside figure {
	width: 100%;
	margin-bottom: 2em;
}

.text_and_aside aside figure > * {
	width: 100%;
}

.text_and_aside aside figure img {
	fill: cover;
}
